:root{
    --primary-yellow:rgb(242,202,82,1);
    --primary-green:#ABEDD8;
    --primary-white:#F2F4F8;
    --secondary-purple:#726785;
    --secondary-green-text:#1E8F6B;
    --secondary-green:#4c4c4c;
    --secondary-red:#812532;
    

}


/*General styles*/
body{
    font-family: 'Roboto', sans-serif;
}

h2{
    
    
    font-family: 'Dongle', sans-serif;
    font-size: 4rem;
    line-height: 0;
}



section{

    color: var(--secondary-green);
    font-size: 1.3rem;
    line-height: 1.8;
}


/*Nav*/



header {
    
    background-color: var(--primary-yellow);
    
    position: absolute;
    z-index: 1;
    width: 100%;
    
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    margin: 0;
  }

  .nav-link {
    
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
  }
  
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    color: var(--secondary-red);
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    color:var(--secondary-green-text);
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: var(--secondary-red);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
   
  
    .nav {
      height: 60px;
      position: fixed;
      background-color: var(--primary-yellow);
      
    }


    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: var(--secondary-red);
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
  
      right: 100%;
      transition: right 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;

      color: #F2F4F8;
    }

    .nav-menu-link {
        color: #F2F4F8;
      }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color:var(--secondary-green-text);
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      right: 0%;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }





/*Banner*/

.banner{
    /* background-image: url(../images/girl-car.jpg); */
    background-image: url(../images/GirlBea9.jpg);
    background-size: cover ;
    background-position: right;
    background-repeat: no-repeat;

    min-height: 100vh;
    position: relative;
}

.banner__information{
    position: absolute;
    bottom: calc(50% - 400px);
    padding: 2rem;
    padding-left: 4rem;
    color: #456262; /*#456262;
    text-shadow: 2px 8px 8px var(--secondary-red);*/
    width: 31.8rem;
}
@media screen and (max-width:1024px) {
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner__information{
        position: static;
        padding-left: 2rem;
    }

}


.banner__information a{
    color: var(--secondary-red);
}

h1{
    font-family: 'EB Garamond', serif; 
    font-size: 4rem;
    margin-bottom: 0;
}

.banner p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

/*Section - Presentation*/
.presentation{
    background-image: url(../images/cusco-chincheros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 60rem;

    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width:580px) {
    .presentation{
        /* background-color: var(--primary-yellow); */
        background-attachment: fixed;
        background-position: center;
    }
}

.presentation__text{
    background-color: var(--primary-yellow);
    border-radius: 31% 69% 40% 60% / 63% 34% 66% 37% ;
    border: 20px solid rgba( 255, 255, 255, 0.18 );

    color: var(--secondary-green);
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.8;
    text-align:center;

    padding: 5rem;
    flex-basis: 30rem;
}

@media screen and (max-width:1200px) {
    .presentation__text{
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
        padding: 1.5rem 2.8rem;
    }
    .presentation{
    
        padding: 0rem 0rem;
        align-items: flex-end;
        justify-content: center;
    }

}

.presentation__text span{
    font-family: 'Dongle', sans-serif;
    font-size: 2.6rem;
    line-height: 0;
    color: var(--secondary-red);
}

/*Section - Skills*/

.skills{
    background-color: var(--primary-green);

    display: flex;
    align-items: center;

    padding: 4rem 8rem;
    

}





.skills img{
    width: 15rem;
    
}

.skills h2{
    color: var(--secondary-green-text);
}

.skills h3{
    
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
}

.skills__information{
    padding-right: 8rem;
    flex-basis: 20rem;
}
.skills__components{
    flex:1;

    display: flex;
    justify-content: space-around;

    text-align:center;
}

.skills__design{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills__design img{
 
    position: relative;
    padding-top: 3.5rem;
    bottom: 4rem;
}

.skills__dev{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




@media screen and (max-width:1440px) {
    .skills{
        flex-wrap: wrap;
        gap:4rem;
        justify-content: center;
        text-align: center;

    }

    .skills__information{
        
        
        padding-right: 0rem;
    }
   
    .skills__components{
        flex-wrap: wrap;
    }
    
}

/*Section - Banner Development*/

/*.development__background{
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
    height: 43rem;
}*/


/*Section - Web Development Projects*/
.development{
    
    padding: 4rem 8rem;
    background-color: var(--primary-white);
}

.development h2{
    color: var(--secondary-red);
}

.development__information a{
    text-decoration:none;
    color: var(--secondary-red);
    font-weight: 800;
    
}

.development__information a:hover{
    
    color: var(--secondary-green-text);
}

.development__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    flex-basis: 23.5rem;
    margin-bottom: 1.5rem;
    border: 5px solid #fdfdfd;
    
}

.card__information{
    background-color:#fdfdfd;
    position: relative;  
}

.card__information h3{
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    color:#A599B5;
    font-weight: 400;
    
}
.card__information img{
    max-width: 100%;
}

.card__image{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 18rem;
}
.card__image-first{
    background-image: url(../images/developer-project-01.jpg);
    /* background-position: left; */
}

.card__image-second{
    background-image: url(../images/songbook.jpg);
    background-position: left;
}
.card__image-third{
    background-image: url(../images/developer-project-03.jpg);
    /* background-position: left; */
}

.card__image-four{
    background-image: url(../images/developer-project-04.jpg);
    background-position: left;
}
.card__image-fith{
    background-image: url(../images/developer-project-05.jpg);
    
}

.card__image-six{
    background-image: url(../images/developer-project-06.jpg);
}

.development__tags{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    padding-left: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;

}


.development__tags p{
    
    border-radius: 5rem;
    padding: 0rem 0.6rem;
    text-align: center;
    font-size: 0.8rem;

    background: #b7b5e465;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );


}

.icon__dev{
    width: 1.5rem;
    position: absolute;
    bottom:2rem;
    right: 1rem;
    line-height: 0;
}






@media screen and (max-width:1024px) {
    .development{
        text-align: center;
        padding: 4rem 4rem;
    }
    .development__projects{
       
        justify-content: center;
    }
    .development h2{
        line-height: 0.8;
    }
    
}


@media screen and (max-width:768px) {


    .development{
        
        padding: 4rem 1.5rem;
  
    
    }

}
   
/*Section - Banner Illustrator*/

.design__background{
    background-image: url(../images/GirlBeach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    max-width: 100vw;
    height: 43rem;
}

@media screen and (min-width:1440px) and (max-width:2560px){
    .design__background{
        
        background-position: center;
        height: 43rem;
    }
    
}



/*Section - Illustrations*/
.design{
    
    padding: 4rem 8rem;
    color: var(--secondary-green);
    background-color: #FEF9EC;
}

.design .card{
    border: 0;
    flex-basis: 24.5rem;
    margin-bottom: 0.3rem;
}



.design h2{
    color: #A88D39;
}

.design__information a{
    text-decoration:none;
    color: #A88D39;
    font-weight: 600;
}

.design__information a:hover{
    
    color: var(--secondary-green-text);
}

.design__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design__projects .card__image{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 500px;
}

.design__projects .card__image-first{
    background-image: url(../images/design-project-01.jpg);
    
}

.design__projects .card__image-second{
    background-image: url(../images/design-project-02.jpg);
}
.design__projects .card__image-third{
    background-image: url(../images/Girl5.jpg);
    
}

.design__projects .card__image-four{
    background-image: url(../images/design-project-04.jpg);
    background-position: left;
}
.design__projects .card__image-fith{
    background-image: url(../images/design-project-05.jpg);
    
}

.design__projects .card__image-six{
    background-image: url(../images/design-project-06.jpg);
    background-position: top;
}


@media screen and (max-width:1024px) {
    .design{
        text-align: center;
        padding: 4rem 4rem;
    }

    .design__projects{
        justify-content: center;
    }
   
    
}


@media screen and (max-width:768px) {


    .design{
        
        padding: 4rem 1.5rem;
  
    
    }

}

/*Section - Banner Travel*/

.travel__background{
    background-image: url(../images/Salar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    max-width: 100vw;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.travel__background h2{
    font-family: 'EB Garamond', serif; 
    font-size: 4rem;
    margin-bottom: 0;
    padding-top: 5rem;
    color: white;
    text-shadow: 2px 2px 2px var(--secondary-purple);
}



/*Section - Travel*/
.travel{
    
    padding: 4rem 8rem;
    color: var(--secondary-green);
    background-color:var(--primary-white);
}

.travel__projects .card__information{
    background-color:rgba(255, 255, 255, 0.562);
    position: relative;
    
}

.travel__information p{
    text-align: center;
    padding-bottom: 2rem;
}
.travel__information a{
    text-decoration:none;
    color: var(--primary-purple);
    font-weight: 600;
}

.travel__information a:hover{
    
    color: var(--secondary-green-text);
}

.travel__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.travel__projects h3{
    text-align: center;
    margin-top: 1rem;
    font-family: 'EB Garamond', serif; 
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 100;
    color: var(--secondary-green);
    padding-bottom: 1.5rem;
}



.travel__projects .card{
    flex-grow:1;
    margin-bottom: 0;
    border: 0.3px solid var(--primary-white);
    
}

.travel__projects .card__image{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 400px;
}

.travel__projects .card__image-first{
    background-image: url(../images/travel-01.jpg);
    background-position: right;
    
}

.travel__projects .card__image-second{
    background-image: url(../images/travel-05.jpg);
}
.travel__projects .card__image-third{
    background-image: url(../images/travel-03.jpg);
    
}

.travel__projects .card__image-four{
    background-image: url(../images/travel-02.jpg);
    
}
.travel__projects .card__image-fith{
    background-image: url(../images/travel-06.jpg);
    
}

.travel__projects .card__image-six{
    background-image: url(../images/travel-07.jpg);
}

@media screen and (max-width:1024px) {
    .travel{
    
        padding: 4rem 4rem;
    }
}

@media screen and (max-width:768px) {


    .travel{
        
        padding: 4rem 1.5rem;
  
    
    }

}

/*Footer*/
footer{
    background-color: var(--primary-yellow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 4rem 8rem;
    padding-bottom: 0;
    color: var(--secondary-green);

    

}

footer h2{
    font-size: 3rem ;
    color: var(--secondary-red);
}

footer span{
    font-size: 1.5rem ;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 1rem;
    text-decoration: none;
    
}

.footer__rights{
    font-size: 1rem ;
    font-weight: 300;
    margin-top: 3rem;

}

footer a{
    color: var(--secondary-red);
}

footer a:hover{
    color: var(--secondary-green-text);
}

@media screen and (max-width:1024px) {
    footer h2{
        line-height: 0.8;
    }

    footer p{
        line-height: 1.8;
    }


    footer{
        
        padding: 4rem 2rem;
    
        
    
    }

}

@media screen and (max-width:768px) {


    footer{
        
        padding: 3rem 1.5rem;
  
    
    }

}